.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 20px;
}

.pointer-on-hover:hover {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.container-header-string {
  margin: 30px;
}

.text-linebreak {
  white-space: pre-line;
}
