.single-card {
  font-size: larger;
}

.single-card-header {
  font-size: larger;
  font-weight: bold;
}

.single-card-title {
  font-size: xx-large;
}

.single-card-rating {
  display: flex;
  justify-content: flex-end;
}

.icon-link {
  margin-left: 5px;
}

.icon-link:hover {
  cursor: pointer;
}

.single-button {
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.single-button-container {
  display: flow-root;
}
